* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

/* common class  */

.container {
  width: 85%;
  margin: 0 auto;
}

img {
  height: auto;
  max-width: 100%;
}

/* navigation section style */
.navigation {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 5% 0;
}
.logo-heading {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  color: #3a3a3a;
  cursor: pointer;
}
.nav-menu {
  display: grid;
  justify-items: end;
  margin: 0 -20px;
}

.nav-menu ul li {
  display: inline;
  margin-right: 2em;
}
.nav-menu ul li a {
  text-decoration: none;
  color: #3a3a3a;
}
.nav-menu ul li a:hover {
  text-decoration: none;
  color: #e02c6d;
}
.fas.fa-cart-plus {
  font-size: 1.5em;
}

.fas.fa-search {
  font-size: 1.3em;
}
