* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

/* common class  */

.container {
  width: 85%;
  margin: 0 auto;
}

img {
  height: auto;
  max-width: 100%;
}

/* navigation section style */
.navigation {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 5% 0;
}
.logo-heading {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  color: #3a3a3a;
  cursor: pointer;
}
.nav-menu {
  display: grid;
  justify-items: end;
  margin: 0 -20px;
}

.nav-menu ul li {
  display: inline;
  margin-right: 2em;
}
.nav-menu ul li a {
  text-decoration: none;
  color: #3a3a3a;
}
.nav-menu ul li a:hover {
  text-decoration: none;
  color: #e02c6d;
}
.fas.fa-cart-plus {
  font-size: 1.5em;
}

.fas.fa-search {
  font-size: 1.3em;
}

/* hero section  */
.hero-area {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: end;
}

h1 {
  color: #3a3a3a;
  font-family: "Poppins", sans-serif;
}
p {
  color: #3a3a3a;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  margin: 30px 0;
}

.fa-arrow-right {
  margin-left: 10px;
}
.btn-primary {
  background-color: #e02c6d;
  color: #ffffff;
  font-family: Poppins;
  font-size: 16px;
  line-height: 24px;
  border-radius: 41px;
  padding: 10px 24px;
  text-decoration: none;
  border: 0;
  cursor: pointer;
}

/* logo  area  */

.brand {
  margin: 5% 0;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  height: 110px;
  align-items: center;
  border-top: 2px solid lightgrey;
  border-bottom: 2px solid lightgrey;
  cursor: pointer;
  justify-content: space-evenly;
  justify-items: center;
}

/* Popular Collection Section  */

.section-title {
  text-align: center;
}
.my-container {
  width: 1042px;
  margin: 0 auto;
}
.collections {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.grid-item {
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 40px 0px;
  margin: 15px 12px;
  border-radius: 5px;
}
.filled {
  display: inline;
  color: #fb8200;
}

.product-title {
  font-family: Poppins;
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
  color: #18191f;
}
.price {
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
}
.rating-num {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.1px;
  margin-left: 10px;
}
.collection-details {
  font-family: Inter;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.018em;
  color: #787885;
  margin: 10px 0 0 0;
  padding: 0;
}

.see-more {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  color: #e02c6d;
  justify-content: flex-end;
  display: flex;
  align-items: center;
}
.fas.fa-arrow-right {
  margin-left: 10px;
}

/* newsletter section   */
.newsletter {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 5%;
  border: 1px solid lightgrey;
  margin-bottom: 5%;
  overflow: hidden;
  justify-items: center;
}
.subscription-area {
  color: #0a0826;
  display: grid;
  justify-items: center;
}

.btn-sub {
  background-color: #e02c6d;
  color: #ffffff;
  font-family: Poppins;
  font-size: 14px;
  line-height: 21px;
  border-radius: 0px 5px 5px 0px;
  padding: 9.5px 24px;
  text-decoration: none;
  margin-left: -5px;
  cursor: pointer;
  border: 2px solid #e02c6d;
}

.input-form-area input[type="email"] {
  width: 250px;
  height: 40px;
  border: 2px solid #e02c6d;
  border-right: none;
  padding-left: 10px;
}
